<section class="stats-table grid__wrapper">
    <ul class="grid__table">
        <!-- Header  -->
        <li class="stats-table__header-row grid__row">
            <div class="grid__header">
                <div class="grid__data grid__data--sortable">
                    #
                    <a ng-click="sort('')" class="grid__sort {{isSortBy('') ? (isSortAsc() ? 'grid__sort--asc' : 'grid__sort--desc') : '' }}"></a>
                </div>
            </div>

            <div class="grid__header  grid__header--team-data">
                <div class="grid__data grid__data--sortable grid__header--table">
                    Team
                    <a ng-click="sort('')" class="grid__sort {{isSortBy('') ? (isSortAsc() ? 'grid__sort--asc' : 'grid__sort--desc') : '' }}"></a>
                </div>
            </div>

            <div class="grid__header">
                <div class="grid__data grid__data--sortable">
                    MP
                    <a ng-click="sort('')" class="grid__sort {{isSortBy('') ? (isSortAsc() ? 'grid__sort--asc' : 'grid__sort--desc') : '' }}"></a>
                </div>
            </div>

            <div class="grid__header">
                <div class="grid__data grid__data--sortable">
                    W
                    <a ng-click="sort('')" class="grid__sort {{isSortBy('') ? (isSortAsc() ? 'grid__sort--asc' : 'grid__sort--desc') : '' }}"></a>
                </div>
            </div>
            <div class="grid__header">
                <div class="grid__data grid__data--sortable">
                    D
                    <a ng-click="sort('')" class="grid__sort {{isSortBy('') ? (isSortAsc() ? 'grid__sort--asc' : 'grid__sort--desc') : '' }}"></a>
                </div>
            </div>

            <div class="grid__header">
                <div class="grid__data grid__data--sortable">
                    L
                    <a ng-click="sort('')" class="grid__sort {{isSortBy('') ? (isSortAsc() ? 'grid__sort--asc' : 'grid__sort--desc') : '' }}"></a>
                </div>
            </div>

            <div class="grid__header">
                <div class="grid__data grid__data--sortable">
                    G
                    <a ng-click="sort('')" class="grid__sort {{isSortBy('') ? (isSortAsc() ? 'grid__sort--asc' : 'grid__sort--desc') : '' }}"></a>
                </div>
            </div>

            <div class="grid__header">
                <div class="grid__data grid__data--sortable">
                    Pts
                    <a ng-click="sort('')" class="grid__sort {{isSortBy('') ? (isSortAsc() ? 'grid__sort--asc' : 'grid__sort--desc') : '' }}"></a>
                </div>
            </div>
            <div class="grid__header">
                <div class="grid__data grid__data--sortable">
                    Form
                    <a ng-click="sort('')" class="grid__sort {{isSortBy('') ? (isSortAsc() ? 'grid__sort--asc' : 'grid__sort--desc') : '' }}"></a>
                </div>
            </div>
        </li>

        <!-- Stats data -->
        <li class="stats-table__stats-row grid__row" ng-repeat="team in vm.teams track by team.id">
            <div class="grid__cell">
                <div class="grid__data"
                     ng-class="{
                        'grid__cell--zone stats-table__zone--champions-league': vm.zonesManager.isInChampionsLeagueZone($index + 1),
                        'grid__cell--zone stats-table__zone--qualification': vm.zonesManager.isInChampionsLeagueQualificationZone($index + 1),
                        'grid__cell--zone stats-table__zone--europa-league': vm.zonesManager.isInEuropeLeagueZone($index + 1),
                        'grid__cell--zone stats-table__zone--relegation': vm.zonesManager.isInRelegationZone($index + 1)
                        }">
                        {{ $index + 1 }}
                </div>
            </div>
            <div class="grid__cell ">
                <div class="grid__data">{{ team.name }}</div>
            </div>
            <div class="grid__cell ">
                <div class="grid__data">{{ vm.getNumOfGames(team) }}</div>
            </div>
            <div class="grid__cell ">
                <div class="grid__data">{{ vm.getNumOfWins(team) }}</div>
            </div>
            <div class="grid__cell ">
                <div class="grid__data">{{ vm.getNumOfDraws(team)}}</div>
            </div>
            <div class="grid__cell ">
                <div class="grid__data">{{ vm.getNumOfLosses(team) }}</div>
            </div>
            <div class="grid__cell ">
                <div class="grid__data">{{ vm.getNumOfGoalsScored(team) }}:{{ vm.getNumOfGoalsConceded(team) }}</div>
            </div>
            <div class="grid__cell ">
                <div class="grid__data">{{ vm.getPoints(team) }}</div>
            </div>
            <div class="grid__cell grid__cell--team-form">
                <div class="grid__data">
                <span class="stats-table__team-form" ng-repeat="form in team.getFormForLastNGames(5) track by $index" ng-class="vm.getTeamFormClassName(form)">{{ form.value }}</span>
                </div>
            </div>
        </li>
    </ul>
</section>